p Radio buttons
label.radio-btn
  input.radio-btn__input(type="radio", name="sex", checked)
  p.radio-btn__text Мужчина
label 
  input.radio-btn__input(type="radio", name="sex")
  p.radio-btn__text Женщина