p Rate button
.rate-btn
  input.rate-btn__input(type="radio", name="star", value='1', )
  input.rate-btn__input(type="radio", name="star", value='2',)
  input.rate-btn__input(type="radio", name="star", value='3', )
  input.rate-btn__input(type="radio", name="star", value='4', )
  input.rate-btn__input(type="radio", name="star", value='5',)