.more-btn-pic {
  width: 10px;
  height: 10px;
  border-left: 4px solid rgba(31, 32, 65, 0.5);
  border-bottom: 4px solid rgba(31, 32, 65, 0.5);
  transform: rotate(-45deg);
  background-color: #ffffff;
}