label Dropdown
  select(name="guests") 
    option(value="0") Сколько гостей
    option(value="1") 1 гость
    option(value="2") 2 гостей
    option(value="3") 3 гостя
    option(value="4") 4 гостя
  .more#btn
    #more 