
input:hover,
input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none;
}
.p-checkbox {
  font-family: Montserrat-Black;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
text-transform: uppercase;
}
.label-checkbox {
  font-weight: normal;
}