input:hover,
input:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none;
}
.checkbox {
  width: 0;
  height: 0;
}
.p-checkbox {
  font-family: Montserrat-Black;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.label-checkbox {
  font-weight: normal;
}
.empty-check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.checkbox:checked + .empty-check {
  border-color:#BC9CFF;
  
  .empty-check__check {
    position: absolute;
    left: 0.45em;
    top: 0.35em;
    transform: rotate(-45deg);
    height: 6px;
    width: 8px;
    background: linear-gradient(-90deg, #BC9CFF 0%, #8BA4F9 100%);

    .empty-check__white-check {
      position: absolute;
      right: -0.01em;
      top: -0.01em;
      height: 4px;
      width: 6px;
      background: #ffffff;
    }
  }
}