p.p-checkbox Checkbox Buttons
label.label-checkbox
  input.checkbox(type="checkbox", value="Можно курить", name="smoke")
  |Можно курить
  br
label.label-checkbox
  input.checkbox(type="checkbox", value="Можно курить", name="smoke", checked)
  |Можно с питомцами
  br
label.label-checkbox  
  input.checkbox(type="checkbox", value="Можно курить", name="smoke", checked)
  |Можно пригласить гостей (до 10 человек)
  br