body {
  background-color: #FFFFFF;
  
}

@font-face {
	font-family: Montserrat-Black;
	src: url("../fonts/Montserrat-Black.ttf");
}


@import '../blocks/text-field/text-field';
@import '../blocks/dropdown/dropdown';
@import '../blocks/masked-text-field/masked-text-field';
@import '../blocks/date-dropdown/date-dropdown';
@import '../blocks/subscription-text-field/subscription-text-field';
@import '../blocks/checkbox-buttons/checkbox-buttons';
@import '../blocks/radio-buttons/radio-buttons';
@import '../blocks/toggle-switch/toggle-switch';
@import '../blocks/like-button/like-button';
@import '../blocks/rate-button/rate-button';
@import '../blocks/range-slider/range-slider';
@import '../blocks/buttons/buttons';
@import '../blocks/pagination/pagination';